extends layout

block content
  #banner.page-header
   .row
    .col-md-6.col-sd-12
      h1 About
  .row
    .col-md-6.col-sd-12
      p Loc8r was created to help people find places to sit down and get a bit of work done